* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url("./img/PC.PNG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ball:hover {
  cursor: pointer;
}

.happyball {
  width: 25%;
  position: absolute;
  top: 23%;
  right: 9%;
  animation: shine 3s infinite;
  transition: top 1.5s ease-in-out;
}

.angryball {
  width: 23%;
  position: absolute;
  top: 40%;
  left: 7%;
  animation: shine 2s infinite;
  transition: top 2s ease-in-out;
}

.sadball {
  width: 20%;
  position: absolute;
  top: 9%;
  right: 40%;
  animation: shine 3.5s infinite;
  transition: top 1.3s ease-in-out;
}

.scaredball {
  width: 23%;
  position: absolute;
  top: 55%;
  right: 29%;
  animation: shine 1.8s infinite;
  transition: top 1.8s ease-in-out;
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.drop {
  top: 800px; /* Adjust this value as needed to control how far the element drops */
}

/* ballTxt */
.ballTxt {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 247, 234);
}
.ballTxt img {
  width: 30vw;
}
.ballTxt span {
  width: 50vw;
}

#happyTxt {
  display: none;
}
#angryTxt {
  display: none;
}
#sadTxt {
  display: none;
}
#scaredTxt {
  display: none;
}
